
FirstDesignOfWebsite/.vs/VSWorkspaceState.json
FirstDesignOfWebsite/.vs/slnx.sqlite
FirstDesignOfWebsite/.vs/ProjectSettings.json
FirstDesignOfWebsite/.vs/FirstDesignOfWebsite/v16/.suo
Python Files/.vscode/settings.json
Python Files/tempCodeRunnerFile.py
updated website/python/tempCodeRunnerFile.py
